@charset "UTF-8";
/*importacion de todos los archivos scss*/
/*tipos de letras en general para el proyecto*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
/* font-family: 'Roboto Condensed', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
/* font-family: 'Roboto', sans-serif; */
/*reseteo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

.parrafo, .seccion2 p, .seccion1-ca p, .complejo1 p {
  text-align: justify;
  color: brown;
  font-size: 15px; }

/* Grid Container de la Home */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "header header header header" "seccion1 seccion1 seccion1 seccion1" "seccion2 seccion2 seccion2 seccion2" "seccion3 seccion3 seccion3 seccion3" "seccion4 seccion4 seccion4 seccion4" "footer footer footer footer"; }

/* Grid Container de Cabañas */
.grid-container-cabanas {
  display: grid;
  background-color: rgba(177, 135, 30, 0.562);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "header header header header" "seccion1-ca seccion1-ca seccion1-ca seccion1-ca" "seccion2-ca seccion2-ca seccion2-ca seccion2-ca" "seccion3-ca seccion3-ca seccion3-ca seccion3-ca" "seccion4-ca seccion4-ca seccion4-ca seccion4-ca" "footer footer footer footer"; }

/* grid complejo */
.grid-container-complejo {
  display: grid;
  background-color: rgba(177, 135, 30, 0.562);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "header header header header" "complejo1 complejo1 complejo1 complejo1" "complejo2 complejo2 complejo2 complejo2" "complejo3 complejo3 complejo3 complejo3" "complejo4 complejo4 complejo4 complejo4" "complejo5 complejo5 complejo5 complejo5" "complejo6 complejo6 complejo6 complejo6" "footer footer footer footer"; }

/* grid de tarifas */
.grid-container-tarifas {
  display: grid;
  /* degrade en el color de fondo del cuerpo de tarifas */
  background-image: linear-gradient(to right, #e69a3ec5, rgba(177, 135, 30, 0.685));
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "header header header header" "tarifas1 tarifas1 tarifas1 tarifas1" "tarifas2 tarifas2 tarifas2 tarifas2" "footer footer footer footer"; }

/* grid del formulario */
.grid-container-formulario {
  display: grid;
  background-color: rgba(177, 135, 30, 0.562);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "header header header header" "formulario formulario formulario formulario" "footer footer footer footer"; }

/* Header universal para todas las paginas */
.navbar-nav me-0 mb-0 p-0 mb-lg-0 {
  width: 80vw; }

.nav-color {
  background-color: rgba(212, 160, 16, 0.712); }

.navbar ul {
  padding-left: 150px;
  font-size: 20px; }

.navbar li:hover {
  border: 1px solid black;
  border-radius: 20%;
  background-color: burlywood; }

.navbar-brand img {
  width: 200px; }

.navbar-toggler {
  background-color: bisque;
  margin: 10px; }
  .navbar-toggler:focus {
    transform: rotatez(90deg);
    background-color: burlywood; }

.header-home {
  grid-area: header;
  width: 100vw; }

.animacion-logo {
  animation-name: opacidad;
  animation-iteration-count: 1;
  animation-duration: 3s; }

/* Keyframes = Animaciones = Linea del tiempo */
@keyframes opacidad {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*arrancan las medias querys*/
@media (min-width: 1024px) {
  .margen-laptop {
    margin-left: 200px; } }

@media (min-width: 1366px) {
  .margen-laptop {
    margin-left: 350px; } }

@media (min-width: 1920px) {
  .navbar ul {
    font-size: 25px; }
  .navbar-brand img {
    width: 300px; } }

/*desarrollo de caracteristicas globales de main y footer.*/
.main {
  position: relative;
  top: 100.77px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.main-footer {
  width: 100vw; }

@media (min-width: 1920px) {
  .main {
    top: 138.156px; } }

/* Desarrollo de las secciones de la home */
.seccion1 {
  grid-area: seccion1;
  width: 100vw; }

.seccion2 {
  grid-area: seccion2;
  background-color: rgba(255, 228, 196, 0.473);
  width: 100vw;
  display: flex;
  justify-content: center; }
  .seccion2 p {
    background-color: rgba(255, 228, 196, 0.589);
    padding: 15px;
    width: 90vw;
    margin: 15px;
    text-align: center;
    overflow-y: hidden; }

.seccion3 {
  grid-area: seccion3;
  /* degrade */
  background-image: linear-gradient(to bottom, bisque, #eeb46e);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .seccion3 h1 {
    color: chocolate;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 10px 5px 0px 5px; }
  .seccion3 ul {
    list-style: none;
    margin: 10px;
    padding-left: 0px; }
    .seccion3 ul li img {
      width: 80vw;
      margin: 5px; }

.seccion4 {
  grid-area: seccion4;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(177, 135, 30, 0.562);
  width: 100vw; }
  .seccion4 h2 {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 18px; }
  .seccion4 ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
    width: 80vw;
    justify-content: center; }
    .seccion4 ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      background-color: rgba(165, 42, 42, 0.404);
      border: 1px #db5406 solid;
      padding: 5px;
      margin: 5px 10px 20px 10px;
      border-radius: 20%;
      font-size: 16px;
      text-align: center; }

/*arrancan las medias querys*/
@media (min-width: 425px) {
  .seccion3 ul {
    justify-content: space-around; }
    .seccion3 ul li img {
      width: 65vw; } }

@media (min-width: 768px) {
  .seccion2 p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px; }
  .seccion3 h1 {
    font-size: 35px; }
  .seccion3 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; }
    .seccion3 ul li img {
      width: 40vw;
      margin: 10px; }
  .seccion4 h2 {
    font-size: 25px; }
  .seccion4 ul {
    flex-direction: row;
    width: 95vw; }
    .seccion4 ul li {
      font-size: 18px;
      text-align: center;
      align-items: center; } }

@media (min-width: 1024px) {
  .seccion3 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 20px 30px 20px 5px;
    width: 100vw;
    justify-content: space-evenly; }
    .seccion3 ul li img {
      width: 20vw;
      margin: 5px; } }

@media (min-width: 1920px) {
  .seccion2 p {
    font-size: 25px; }
  .seccion3 h1 {
    font-size: 50px; }
  .seccion4 h2 {
    font-size: 35px; }
  .seccion4 ul li {
    font-size: 25px; } }

@media (min-width: 2560px) {
  .seccion2 p {
    font-size: 35px; }
  .seccion3 h1 {
    font-size: 55px; }
  .seccion4 h2 {
    font-size: 45px; }
  .seccion4 ul li {
    font-size: 35px; } }

@media (min-width: 3840px) {
  .seccion2 p {
    font-size: 55px; }
  .seccion3 h1 {
    font-size: 75px; }
  .seccion4 h2 {
    font-size: 60px; }
  .seccion4 ul li {
    font-size: 47px; } }

/* Desarrollo de las secciones de cabañas */
.seccion1-ca {
  grid-area: seccion1-ca;
  background-color: rgba(255, 228, 196, 0.473);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .seccion1-ca h1 {
    color: chocolate;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin: 10px 0px 0px 0px; }
  .seccion1-ca p {
    margin: 15px 25px 15px 20px; }

.seccion2-ca {
  grid-area: seccion2-ca;
  background-color: rgba(177, 135, 30, 0.562);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw; }
  .seccion2-ca h2 {
    font-size: 20px;
    margin: 10px;
    color: chocolate;
    text-align: center; }
  .seccion2-ca ul {
    list-style: none;
    width: 80vw;
    margin-bottom: 10px;
    padding-left: 0; }
    .seccion2-ca ul li {
      padding: 5px;
      margin: 10px;
      background-color: rgba(165, 42, 42, 0.404);
      border: 1px #db5406 solid; }

.seccion3-ca {
  grid-area: seccion3-ca;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-image: linear-gradient(to right, bisque, rgba(233, 211, 114, 0.185));
  margin-bottom: 20px; }
  .seccion3-ca h3 {
    font-size: 17px;
    margin: 12px 17px 5px;
    text-align: center; }
  .seccion3-ca ul {
    margin-bottom: 10px;
    padding-left: 0; }
    .seccion3-ca ul li img {
      width: 80vw;
      margin: 6px; }

.seccion4-ca {
  grid-area: seccion4-ca;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-image: linear-gradient(to left, bisque, rgba(233, 211, 114, 0.185));
  margin-bottom: 20px; }
  .seccion4-ca h3 {
    font-size: 17px;
    margin: 12px 17px 5px;
    text-align: center; }
  .seccion4-ca ul {
    margin-bottom: 10px;
    padding-left: 0; }
    .seccion4-ca ul li img {
      width: 80vw;
      margin: 6px; }

/*arrancan las medias querys*/
@media (min-width: 768px) {
  .seccion1-ca h1 {
    font-size: 35px; }
  .seccion1-ca p {
    font-size: 22px; }
  .seccion2-ca h2 {
    font-size: 27px; }
  .seccion2-ca ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center; }
  .seccion3-ca h3 {
    font-size: 25px; }
  .seccion3-ca ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .seccion3-ca ul li img {
      width: 40vw; }
  .seccion4-ca h3 {
    font-size: 25px; }
  .seccion4-ca ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .seccion4-ca ul li img {
      width: 40vw; } }

@media (min-width: 1024px) {
  .seccion1-ca p {
    margin-left: 30px;
    margin-right: 50px; }
  .seccion2-ca h2 {
    font-size: 30px; }
  .seccion2-ca ul li {
    font-size: 18px; }
  .seccion3-ca ul li img {
    width: 30vw;
    margin: 20px; }
  .seccion4-ca ul li img {
    width: 30vw;
    margin: 20px; } }

/* desarrollo de las secciones del complejo */
.complejo1 {
  grid-area: complejo1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 228, 196, 0.473); }
  .complejo1 h1 {
    display: flex;
    color: chocolate;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 20px;
    width: 80vw;
    margin: 8px 8px 5px 8px; }
  .complejo1 p {
    display: flex;
    margin: 5px 15px 10px 15px; }

.complejo2 {
  grid-area: complejo2;
  width: 100vw;
  display: flex;
  justify-content: center; }
  .complejo2 h2 {
    text-align: center;
    margin: 10px;
    color: chocolate;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px; }

.complejo3 {
  grid-area: complejo3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  background-image: radial-gradient(bisque 50%, #b1871e);
  margin-bottom: 20px; }
  .complejo3 h3 {
    margin: 10px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  .complejo3 ul {
    padding: 0; }
    .complejo3 ul li img {
      width: 70vw;
      margin: 7px; }

.complejo4 {
  grid-area: complejo4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  background-image: radial-gradient(bisque 50%, #b1871e);
  margin-bottom: 20px; }
  .complejo4 h3 {
    margin: 10px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  .complejo4 ul {
    padding: 0; }
    .complejo4 ul li img {
      width: 70vw;
      margin: 7px; }

.complejo5 {
  grid-area: complejo5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  background-image: radial-gradient(bisque 50%, #b1871e);
  margin-bottom: 20px; }
  .complejo5 h3 {
    margin: 10px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center; }
  .complejo5 ul {
    padding: 0; }
    .complejo5 ul li img {
      width: 70vw;
      margin: 7px; }

.complejo6 {
  grid-area: complejo6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw; }
  .complejo6 h3 {
    color: darkslategrey;
    text-align: center;
    font-size: 15px;
    margin: 10px; }
  .complejo6 iframe {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin-bottom: 8px; }

/* Animaciones*/
.animacion-giro {
  animation-name: girando;
  animation-iteration-count: infinite;
  animation-duration: 3s; }

/* Keyframes = Animaciones = Linea del tiempo */
@keyframes girando {
  0% {
    transform: rotatey(0deg); }
  100% {
    transform: rotatey(360deg); } }

/*arrancan las medias querys*/
@media (min-width: 768px) {
  .complejo1 {
    justify-content: center; }
    .complejo1 h1 {
      text-align: center;
      justify-content: center;
      font-size: 25px; }
    .complejo1 p {
      font-size: 18px;
      margin: 5px 35px 10px 25px; }
  .complejo2 h2 {
    font-size: 22px;
    margin: 20px; }
  .complejo3 {
    margin-bottom: 20px; }
    .complejo3 h3 {
      font-size: 19px; }
    .complejo3 ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      margin-bottom: 20px; }
      .complejo3 ul li img {
        width: 30vw; }
  .complejo4 {
    margin-bottom: 20px; }
    .complejo4 h3 {
      font-size: 19px; }
    .complejo4 ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      margin-bottom: 20px; }
      .complejo4 ul li img {
        width: 30vw; }
  .complejo5 {
    margin-bottom: 20px; }
    .complejo5 h3 {
      font-size: 19px; }
    .complejo5 ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      margin-bottom: 20px; }
      .complejo5 ul li img {
        width: 30vw; }
  .complejo6 h3 {
    font-size: 19px; }
  .complejo6 iframe {
    width: 50vw;
    margin: 20px 20px 40px 20px; } }

@media (min-width: 1024px) {
  .complejo1 h1 {
    font-size: 35px; }
  .complejo1 p {
    font-size: 25px;
    margin: 15px 45px 25px 25px; }
  .complejo2 h2 {
    font-size: 30px; }
  .complejo3 h3 {
    font-size: 25px; }
  .complejo4 h3 {
    font-size: 25px; }
  .complejo5 h3 {
    font-size: 25px; }
  .complejo6 h3 {
    font-size: 25px; } }

/* desarrollo de secciones de tarifas y reserva */
.tarifas1 {
  grid-area: tarifas1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .tarifas1 h1 {
    margin: 10px;
    color: chocolate;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px; }
  .tarifas1 h2 {
    font-size: 18px;
    margin-bottom: 7px; }
  .tarifas1 table {
    background-color: rgba(255, 228, 196, 0.473);
    width: 80vw;
    margin-bottom: 15px; }
    .tarifas1 table tr th {
      border: 1px solid black;
      text-align: center; }
    .tarifas1 table tr td {
      border: 1px solid black;
      text-align: center; }

.tarifas2 {
  grid-area: tarifas2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(177, 135, 30, 0.562);
  margin-bottom: 10px; }
  .tarifas2 h2 {
    font-size: 18px;
    margin: 14px 10px 6px 10px; }
  .tarifas2 ul {
    list-style-type: disc;
    width: 86vw;
    margin: 0px 10px 10px 15px;
    padding: 0; }
    .tarifas2 ul li {
      margin: 5px 5px 9px 15px;
      font-size: 17px; }

/* Arrancan las medias query */
@media (min-width: 1024px) {
  .tarifas1 h1 {
    font-size: 35px; }
  .tarifas1 h2 {
    font-size: 25px; }
  .tarifas1 table {
    margin-top: 10px;
    margin-bottom: 30px; }
  .tarifas2 {
    margin-bottom: 22px; }
    .tarifas2 h2 {
      font-size: 22px; }
    .tarifas2 ul li {
      font-size: 18px; } }

/* desarrollo de secciones de formulario de contacto */
.formulario {
  grid-area: formulario;
  background-image: url("../img/imagen-fondo-formulario.jpg");
  background-size: 100%;
  background-position: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .formulario h1 {
    margin: 10px;
    color: white; }
  .formulario p {
    margin-bottom: 10px;
    color: red; }
  .formulario form {
    display: flex;
    flex-direction: column;
    width: 90vw; }
    .formulario form label {
      color: white;
      margin: 10px 0px 2px; }
    .formulario form input {
      margin: 0px 0px 10px; }
      .formulario form input:focus {
        padding: 5px 30px;
        scale: 1.1; }
    .formulario form select {
      margin-top: 15px; }

.boton-desayuno {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: center;
  margin: 20px; }
  .boton-desayuno input {
    margin-bottom: 0px;
    margin-top: 10px; }
  .boton-desayuno label {
    margin: 15px;
    padding-left: 15px; }

/* Arrancan las medias query */
@media (min-width: 768px) {
  .formulario h1 {
    font-size: 35px; }
  .formulario p {
    font-size: 25px; }
  .formulario form {
    width: 60vw;
    margin-bottom: 40px; }
    .formulario form select {
      margin-top: 20px; } }

@media (min-width: 1024px) {
  .formulario form {
    width: 40vw;
    margin-bottom: 40px; } }

/* Footer universal para todas las paginas */
.footer {
  grid-area: footer;
  background-image: url("../img/fondo-footer.jpg");
  background-size: 100%;
  background-position: center;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -100.77px;
  left: 0;
  right: 0; }

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 10px;
  width: 300px;
  background-color: rgba(210, 105, 30, 0.671); }
  .contacto h2 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 5px;
    color: rgba(255, 238, 0, 0.966); }
  .contacto ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0; }
  .contacto li {
    margin: 8px;
    color: rgba(255, 238, 0, 0.966); }

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 15px 0px 35px 0px; }
  .redes h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 10px 0px 20px 0px;
    color: brown; }
  .redes ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    padding-left: 0;
    width: 320px;
    justify-content: space-evenly; }
  .redes li {
    margin: 10px; }

.ubicacion {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .ubicacion h3 {
    margin-bottom: 10px;
    color: white; }
  .ubicacion iframe {
    width: 95vw;
    margin: 10px; }

.creador {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100vw;
  justify-content: center;
  height: 45px;
  background-color: brown;
  color: white; }
  .creador p {
    display: flex;
    margin: 0; }

/*arrancan las medias querys*/
@media (min-width: 768px) {
  .ubicacion iframe {
    width: 60vw;
    margin: 25px; }
  .creador {
    width: 100vw; }
  .contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: rap;
    margin-bottom: 30px;
    justify-content: space-around; } }

@media (min-width: 1024px) {
  .footer {
    flex-direction: row; }
  .redes {
    width: 50vw;
    padding-left: 20px; }
  .contacto {
    flex-direction: column;
    width: 30vw; }
  .ubicacion iframe {
    width: 33vw; }
  .creador {
    width: 100vw; } }

@media (min-width: 1366px) {
  .ubicacion iframe {
    width: 40vw;
    margin-bottom: 10px; } }

@media (min-width: 1920px) {
  .footer {
    position: relative;
    bottom: -138.156px;
    left: 0;
    right: 0; } }
