/*desarrollo de caracteristicas globales de main y footer.*/

.main {
    position: relative;
    top: 100.77px;
    width: 100vw;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer {
    width: 100vw;
}

@media (min-width: 1920px){
    .main{
        top: 138.156px;
    }
}

