/* desarrollo de secciones de formulario de contacto */

.formulario {
    grid-area: formulario;
    background-image: url("../img/imagen-fondo-formulario.jpg");
    background-size: 100%;
    background-position: center;
    width: 100vw;    
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;     
    h1 {
        margin: 10px;
        color: white;
    }
    p {
        margin-bottom: 10px;
        color: red;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 90vw;             
        label {
            color: white;
            margin: 10px 0px 2px;
        }
        input {
            margin: 0px 0px 10px;
            &:focus {
                padding: 5px 30px;
                scale: 1.1;                
            }
        }
        select{
            margin-top: 15px;
        }
    }
}

.boton-desayuno {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
    margin: 20px;
    input{
       margin-bottom: 0px;
       margin-top: 10px;
       
    }
    label {
        margin: 15px;
        padding-left: 15px;  
        
    }
}

/* Arrancan las medias query */

@media (min-width: 768px) {   

    .formulario { 

        h1 {
            font-size: 35px;
        }
        p {
            font-size: 25px;
        }
        form {            
            width: 60vw;
            margin-bottom: 40px;
            select{
                margin-top: 20px;
            }
        }
    }
}

@media (min-width: 1024px) {    

    .formulario {        
        form {
            width: 40vw;
            margin-bottom: 40px;            
        }
    }  

}
