/* desarrollo de secciones de formulario de contacto */

.formulario {
    grid-area: formulario;
    background-image: url("../img/imagen-fondo-formulario.jpg");
    background-size: 100%;
    background-position: center;
    width: 100vw;    
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;     
    h1 {
        margin: 10px;
        color: white;
    }
    p {
        margin-bottom: 10px;
        color: red;
    }
    form {
        display: flex;
        flex-direction: column;        
        width: 90vw;             
        label {
            color: white;
            margin: 10px 0px 2px;
        }
        input {
            margin: 0px 0px 15px;
            &:focus {
                padding: 5px 30px;
                scale: 1.1;                
            }
        } 
        input[type=radio] {                
            width: 6%;            
            margin: 7px 0px;
        }

        input[type=checkbox] {                
            width: 8%;            
            margin: 7px 0px;
        }
        select{
            margin-top: 15px;
        }
    }
}


.boton-desayuno {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
    margin: 20px;
    input{
       margin-bottom: 0px;
       margin-top: 10px;       
    }
    label {
        margin: 15px;
        padding-left: 15px;          
    }
}

/* Arrancan las medias query */

@media (min-width: 768px) {   

    .formulario { 
        h1 {
            font-size: 35px;
        }
        p {
            font-size: 25px;
        }
        form {            
            width: 60vw;
            margin-bottom: 40px;
            select{
                margin-top: 20px;
            }
        }
    }
}

@media (min-width: 1024px) {    

    .formulario {        
        form {
            width: 40vw;
            margin-bottom: 40px;            
        }
    }  

}

@media (min-width: 1920px){
    .formulario {          
        h1 {
            font-size: 45px;
        }
        p {
            font-size: 35px;
        }
        form {                         
            label {
                font-size: 25px;                
            }  
            textarea{                
                    font-size: 25px;               
                
            }
            input{
                font-size: 20px;
                margin: 25px 0px;
            }           
            select{
                font-size: 25px;
                option{
                    font-size: 15px;
                }
            }  
            
        }
    }
}

   

@media (min-width: 2560px){

    .formulario {          
        h1 {
            font-size: 55px;
        }
        p {
            font-size: 45px;
        }
        form {                         
            label {
                font-size: 35px;
            }  
            textarea{                
                font-size: 35px;               
            
            }
            input{
                font-size: 30px;
            }
            select{
                font-size: 35px;
                option{
                    font-size: 20px;
                }
            }       
        }
    }

    
}

@media (min-width: 3840px){

    .formulario {          
        h1 {
            font-size: 75px;
        }
        p {
            font-size: 65px;
        }
        form {                         
            label {
                font-size: 55px;
            }  
            textarea{                
                font-size: 45px;             
            }
            input{
                font-size: 50px;
            }
            input[type=radio] {                
                width: 5%;            
                margin: 0px 0px 30px 30px;
            }
    
            input[type=checkbox] {                
                width: 5%;            
                margin: 0px 0px 30px 30px;
            }
            select{
                font-size: 55px;
            }       
        }
    }
}